{% extends "base.html" %}
{% block content %}
<h1>Your profile</h1>
<h4>You are logged in as: <span class="text-success"> {{ request.user }}</span></h4>
<h4>Your email address is: <span class="text-success"> {{ request.user.email }}</span></h4>
</br>
</br>
<h1>Your Order History</h1>
<div class="container">
    <!-- SAMPLE OF userOrders DICTIONARY:
    {'id': 15, 'date': '2020-01-29', 'total': '20000.00',
     'order_lines': [{'quantity': '1', 'product': 'Product 1', 'price': '1000.00'},
                     {'quantity': '2', 'product': 'Product 2', 'price': '2000.00'}, 
                     {'quantity': '3', 'product': 'Product 3', 'price': '5000.00'}
    ]} -->

	{% for order in userOrders %}
	</br>
	<h3 class="text-success">&emsp;Order ID: {{ order.id }} &emsp;&emsp; Order Date: {{ order.date }}</h3>

	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Quantity</th>
				<th>Product</th>
				<th>Price (€)</th>
				<th>Total (€)</th>
			</tr>
		</thead>
		<tbody>
			{% for lineitem in order.order_lines %}
			<tr>
				<td>{{ lineitem.quantity }}</td>
				<td>{{ lineitem.product }}</td>
				<td>{{ lineitem.price }}</td>
				{% if forloop.last %}
				<td>{{ order.total }}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endfor %}
	{% endblock %}